doctype 5
html(ng-app='LibraryModule')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/hover.css')
    meta(name='viewport', initial-scale='1', content='width=device-width, user-scalable=no')
    script(type='text/javascript', src='http:///cdn.leafletjs.com/leaflet-0.7/leaflet.js')
    script(type='text/javascript', src='/vendor/angular/angular.js')
    script(type='text/javascript', src='/vendor/angularjs-geolocation/dist/angularjs-geolocation.min.js')
    script(type='text/javascript', src='/vendor/angular-leaflet-directive.min.js')
    script(type='text/javascript', src='/javascripts/LibraryModule.js')
    script(type='text/javascript', src='javascripts/underscore-min.js')
    // script(type='text/javascript', src='/javascripts/geoloc.js')

    block head

  body
    block content