body {
	margin: 0 auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.leaflet {
	float: left;
	margin-right: 10px;
}

@media (max-width: 700px) {
	.leaflet {
		width: 100% !important;
	}
}

.container ul {
	float: left;
	/*width: 300px;*/
}

.sidebar {
	width: 400px;
	float: left;
}
@media (max-width: 700px) {
	.sidebar {
		width: 200px;
	}
}
.branches {
	width: 300px;
}
@media (max-width: 700px) {
	.branches {
		width: 150px;
	}
}
.librariesContainer {
	height: 300px;
	width: 400px;
	overflow: auto;
}

@media (max-width: 700px) {
	.librariesContainer {
		width: 200px;
	}
}
.filter_distance {
	margin: 30px;
}