body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.leaflet {
	float: left;
	margin-right: 10px;
}

.container ul {
	float: left;
	/*width: 300px;*/
}

.branches {
	width: 200px;
}

.librariesContainer {
	height: 300px;
	width: 300px;
	overflow: auto;
}

.filter_distance {
	margin: 30px;
}